
.vs/ProjetoA3Gestao-Unp/FileContentIndex/b9fb6f12-154b-40b9-b415-6427fbfc03ab.vsidx
.vs/ProjetoA3Gestao-Unp/FileContentIndex/b8e6b3c4-a544-46bd-a58e-73964fe23113.vsidx
/ProjetoA3Gestao/.vs/ProjetoA3Gestao/FileContentIndex
